
  <div style="text-align:center">
      <h2  class=" btn-lg btn-info  btn-block btn-primary"   > Booking Reservations </h2>
    </div>
  
<table class="table table-sm table-hover">
  <tr *ngFor="let booking of bookingService.bookingList">
    <td>{{booking.name}}</td>
    <td>{{booking.mobile}}</td>
    <td>{{booking.email}}</td>
    
    <td>
     
      <a href="#" class="btn btn-primary a-btn-slide-text"  (click)="showForEdit(booking)" data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        <span><strong>Edit</strong></span>            
    </a>
      
    </td>
    <td>
      <a href="#" class="btn btn-info a-btn-slide-text"   (click)="showForEdit(booking)" data-toggle="modal" data-target="#DetailsModal">
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        <span><strong>View</strong></span>            
    </a>

    </td>
    <td>

        <a href="#" class="btn btn-danger a-btn-slide-text"  (click)="onDelete(booking.bookingId)">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
             <span><strong>Delete</strong></span>            
         </a>

      
    </td>
  </tr>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal Edit-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Edit {{book.name}}</h4>
      </div>
      <div class="modal-body">
        <form class="emp-form" #updateForm="ngForm" >

          <input name="Name" #Name="ngModel" [(ngModel)]="book.name" value="{{book.name}}" disabled selected>
          <input name="Mobile" #Mobile="ngModel" [(ngModel)]="book.mobile" value="{{book.mobile}}" disabled selected>
          <input name="Email" #Email="ngModel" [(ngModel)]="book.email" value="{{book.email}}" disabled selected>
          <input type="text" value="{{book.treatmentId}}" name="TreatmentId" #TreatmentId="ngModel" [(ngModel)]="book.treatmentId">
          <br>
          <input type="text" value="{{book.timeSlotId}}" name="TimeSlotId" #TimeSlotId="ngModel" [(ngModel)]="book.timeSlotId" >
          <br>
          <input type="text" value="{{book.note}}" name="Note" #Note="ngModel" [(ngModel)]="book.note">
          <br>
          <input type="date" value="{{book.bookedDate}}" type="date" name="BookedDate" #BookedDate="ngModel" [(ngModel)]="book.bookedDate">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    
        <button type="button" class="btn btn-info"  data-dismiss="modal" (click)="updat(book.bookingId,book)" >Update</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="DetailsModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal Details-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Details {{book.name}}</h4>
      </div>
      <div class="modal-body">
        <div>
          <label>Name :</label>{{newBook.name}}</div>
        <div>
          <label>Mobile :</label> {{newBook.mobile}}</div>
        <div>
          <label>Email :</label> {{newBook.email}}</div>
        <div>
          <label>TreatmentId :</label>{{newBook.treatmentId}}</div>
        <div>
          <label>TimeSlotId :</label>{{newBook.timeSlotId}}</div>
        <div>
          <label>Note :</label>{{newBook.note}}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>

  </div>
</div>