
<div style="text-align:center">
  <h2 class="jumbotron bg-info text-white"> Booking Reservations </h2>
</div>
<div class="row">
  <div class="col-md-6">
    <app-booking></app-booking>
  </div>
  <div class="col-md-6">
    <app-booking-list></app-booking-list>
  </div>
</div>