<div style="text-align:center">
   
    <h4 class=" btn-lg btn-info  btn-block btn-primary"><i> Create Booking </i></h4>
  </div>
    
    <form class="emp-form" #bookingForm="ngForm" (ngSubmit)="onSubmit(bookingForm)">
        
        <div class="form-row">
    
          <div class="form-group col-md-6">
              <label for="name">Name</label>
            <input class="form-control" name="Name" #Name="ngModel" [(ngModel)]="bookingService.selectedBooking.Name"
              placeholder="Name" required >
            </div>
    
          <div class="form-group col-md-6">
              <label for="mobile">Mobile</label>
            <input class="form-control" name="Mobile" #Mobile="ngModel" [(ngModel)]="bookingService.selectedBooking.Mobile" placeholder="Mobile"
              required> </div>
    
          <div class="form-group col-md-6">
              <label for="email">Email</label>
              <input class="form-control" name="Email" #Email="ngModel" [(ngModel)]="bookingService.selectedBooking.Email" placeholder="Email"
                required>
              </div>
              
              <div class="form-group col-md-6">
                  <label for="BookedDate">BookedDate</label>
                  <input class="form-control" type="date" name="BookedDate" #BookedDate="ngModel" [(ngModel)]="bookingService.selectedBooking.BookedDate" placeholder="BookedDate"
                    required>
                  </div>

              <div class="form-group col-md-6">
                  <label for="timeSlotId">Time Slot List  </label>
                     <select name="TimeSlotId" #TimeSlotId="ngModel" [(ngModel)]="bookingService.selectedBooking.TimeSlotId"  placeholder="TimeSlot"
                     >
                          <option value="" disabled selected>select your time </option>
                          <option *ngFor="let item of tList" value="{{item.timeSlotId}}" >{{item.timeSlotTitle}}</option>
                        </select>
                 
              </div>

              <div class="form-group col-md-6">  
                  <label for="treatmentId">Treatment</label>
                     <select name="TreatmentId" #TreatmentId="ngModel" [(ngModel)]="bookingService.selectedBooking.TreatmentId"  placeholder="Treatment"
                     >
                          <option  selected="true" disabled="disabled">select your Treatment </option>
                          <!-- <option selected="true" disabled="disabled">Choose Tagging</option>     -->
                          <option  *ngFor="let item of treatList" value="{{item.treatmentId}}">{{item.treatmentTitle}}</option>
                        </select>
              </div>
        </div>
        
        <div class="form-group">
            <label for="note">Note</label>
          <input class="form-control" name="Note" #Note="ngModel" [(ngModel)]="bookingService.selectedBooking.Note" placeholder="Note">
        </div>
    
        <div class="form-row">
    
    
        </div>
    
        <div class="form-row">
          <div class="form-group col-md-8">
            <button [disabled]="!bookingForm.valid" type="submit" class="btn btn-lg btn-primary  btn-block btn-primary">
              <i class="fa fa-floppy-o"></i> Submit</button>
          </div>
    
          <div class="form-group col-md-4">
            <button type="button" class="btn btn-lg btn-block btn-danger" (click)="resetForm(bookingForm)">
              <i class="fa fa-repeat"></i> Reset</button>
          </div>
    
        </div>
      </form>
    
    
    
