﻿@model Bookings

 <div  >  
     <form method="Post" class="form-horizontal" role="form">


         <br>
         <br>
         <br>
         <div class="form-group">
             <label asp-for="Name" class="col-md-4 control-label"></label>
             <div class="col-md-5">
                 <input asp-for="Name" />
             </div>
         </div>

         <div class="form-group">
             <label asp-for="Email" class="col-md-4 control-label"></label>
             <div class="col-md-5">
                 <input asp-for="Email" type="email" />
                 <span asp-validation-for="Email" class="text-danger"></span>

             </div>
         </div>

         <div class="form-group">
             <label asp-for="Mobile" class="col-md-4 control-label"></label>
             <div class="col-md-5">
                 <input asp-for="Mobile" />
                 <span asp-validation-for="Mobile" class="text-danger"></span>

             </div>
         </div>

         <div class="form-group">
             <label asp-for="Note" class="col-md-4 control-label"></label>
             <div class="col-md-5">
                 <textarea asp-for="Note"></textarea>

             </div>
         </div>

        

         <div class="form-group">
             <label asp-for="BookedDate" class="col-md-4 control-label"></label>
             <div class="col-md-5">
                 <input asp-for="BookedDate" />

             </div>
         </div>

         <div class="form-group">
             <label asp-for="Treatments.TreatmentTitle" class="col-md-4 control-label"></label>
             <div class="col-md-5">
                 <select asp-for="TreatmentId" asp-items="@(new SelectList(@ViewBag.listOfTreatment,"TreatmentId","TreatmentTitle"))"></select>


             </div>
         </div>
         <div class="form-group">
             <label asp-for="TimeSlots.TimeSlotTitle" class="col-md-4 control-label"></label>
             <div class="col-md-5">
                 <select asp-for="TimeSlotId" asp-items="@(new SelectList(@ViewBag.listOfItems,"TimeSlotId","TimeSlotTitle"))"></select>


             </div>
         </div>


         <div class="form-group">
             <div class="col-md-offset-2 col-md-5">
                 <input type="submit" class="btn btn-primary" value="Book" />
             </div>
         </div>

     </form>
</div>